<div class="container">
  <div class="row">
    <mg-card xl="6">
      <card-title>title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
  <div class="row">
    <mg-card size="md">
      <card-title size="md">title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
  <div class="row">
    <mg-card size="lg">
      <card-title size="lg">title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
  <div class="row">
    <mg-card>
      <card-title>title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
  <div class="row">
    <mg-card xl="4">
      <card-title>title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
    <mg-card size="md" xl="4" lg="8">
      <card-title size="md">title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
    <mg-card size="lg" xl="4">
      <card-title size="lg">title</card-title>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
  <div class="row">
    <mg-card size="sm" xl="4">
      <card-title-icon size="sm">
        <card-icon>
          <mat-icon>settings</mat-icon>
        </card-icon>
        <div style="padding-left: .5rem; padding-top: .2rem">
          <p><span style="font-size: 1.825em;">E-mail's</span> Nenhum novo endereço!</p>

        </div>
      </card-title-icon>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
    <mg-card size="md" xl="4">
      <card-title-icon size="md" style="display: block; height: auto; width: auto;">
        <card-icon size="md" style="display: block; height: auto; width: auto;">
          <div style="display: block !important;; width: auto; background-color: red; padding: 1px">
            <span style="display: block; height: auto; width: auto;">!</span>
          </div>
        </card-icon>
        <div style="text-align: end">
          <p>Nenhum novo endereço</p>
          <h3 style="font-size: 1.825em;">E-mail's</h3>
        </div>
      </card-title-icon>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
    <mg-card size="lg" xl="4">
      <card-title-icon size="lg">
        <card-icon size="lg">
          <mat-icon>settings</mat-icon>
        </card-icon>
        <div style="text-align: end">
          <p>Nenhum novo endereço</p>
          <h3 style="font-size: 1.825em;">E-mail's</h3>
        </div>
      </card-title-icon>
      <card-body>
        <p>body</p>
      </card-body>
      <card-footer>footer</card-footer>
    </mg-card>
  </div>
</div>
