<div class="wrapper d-flex align-items-stretch">

  <!--app-side-bar-- #sideBar></app-side-bar>
  <app-sidebar [userMenuList]="userMenuList" [menuList]="menuList" #sideBar></app-sidebar-->

  <mg-sidebar
    #sideBar
    [userMenuList]="userMenuList"
    [menuList]="menuList"
    [backgroundImage]="'/assets/img/sidebar/sidebar.jpg'"
  ></mg-sidebar>

  <!-- Page Content -->
  <div id="content">

    <!--app-navbar></app-navbar-->
    <button (click)="sideBar.changeOpen()">open/close</button>

    <div class="p-5 pt-0">
      rota
    </div>
  </div>
</div>
